<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CherryBomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{63,80}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{63,80}}</string>
                <key>sourceSize</key>
                <string>{75,84}</string>
            </dict>
            <key>PeaShooter.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,67},{62,73}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{62,73}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>PotatoMine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{63,70}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{63,70}}</string>
                <key>sourceSize</key>
                <string>{75,84}</string>
            </dict>
            <key>SnowPea.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,196},{62,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{62,72}}</string>
                <key>sourceSize</key>
                <string>{76,84}</string>
            </dict>
            <key>SunFlower.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,259},{63,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{63,71}}</string>
                <key>sourceSize</key>
                <string>{75,85}</string>
            </dict>
            <key>Threepeater.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{65,83}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{65,83}}</string>
                <key>sourceSize</key>
                <string>{75,85}</string>
            </dict>
            <key>WallNut.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{63,73}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{63,73}}</string>
                <key>sourceSize</key>
                <string>{75,85}</string>
            </dict>
            <key>blackCherryBomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,66},{62,84}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{62,84}}</string>
                <key>sourceSize</key>
                <string>{76,86}</string>
            </dict>
            <key>blackPeaShooter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{59,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{59,83}}</string>
                <key>sourceSize</key>
                <string>{75,85}</string>
            </dict>
            <key>blackPotatoMine.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,194},{63,81}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{63,81}}</string>
                <key>sourceSize</key>
                <string>{75,85}</string>
            </dict>
            <key>blackSnowPea.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,131},{63,81}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{63,81}}</string>
                <key>sourceSize</key>
                <string>{75,85}</string>
            </dict>
            <key>blackSunFlower.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,130},{62,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,83}}</string>
                <key>sourceSize</key>
                <string>{74,83}</string>
            </dict>
            <key>blackThreepeater.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{63,86}}</string>
                <key>sourceSize</key>
                <string>{75,86}</string>
            </dict>
            <key>blackWallNut.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{62,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{62,84}}</string>
                <key>sourceSize</key>
                <string>{74,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plants.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:703677f5636a808490862ca60c37941d$</string>
            <key>textureFileName</key>
            <string>plants.png</string>
        </dict>
    </dict>
</plist>
