<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WallNut_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,150},{61,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{61,71}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{61,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{61,71}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,148},{61,71}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{61,71}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,223},{61,69}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{61,69}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{61,69}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{61,69}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,221},{61,69}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{61,69}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,77},{61,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{61,71}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{61,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{61,73}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,77},{61,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{61,71}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,221},{61,69}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{61,69}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,150},{61,69}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{61,69}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{61,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{61,71}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,75},{61,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{61,71}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{61,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{61,73}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{61,73}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{61,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{61,71}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WallNut.png</string>
            <key>size</key>
            <string>{254,294}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47e1ed8f694ac172f3306957bdf0b49e$</string>
            <key>textureFileName</key>
            <string>WallNut.png</string>
        </dict>
    </dict>
</plist>
