<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PlayerScreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{289,150}</string>
                <key>spriteSourceSize</key>
                <string>{293,150}</string>
                <key>textureRect</key>
                <string>{{1,603},{289,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_Almanac.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{95,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{694,747},{95,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SelectorScreen_AlmanacHighlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{95,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{795,747},{95,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changePlayer1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,70}</string>
                <key>spriteSourceSize</key>
                <string>{290,70}</string>
                <key>textureRect</key>
                <string>{{903,1},{290,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changePlayer2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,70}</string>
                <key>spriteSourceSize</key>
                <string>{290,70}</string>
                <key>textureRect</key>
                <string>{{903,293},{290,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chengjiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,152}</string>
                <key>spriteSourceSize</key>
                <string>{134,152}</string>
                <key>textureRect</key>
                <string>{{1,755},{134,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chengjiu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,152}</string>
                <key>spriteSourceSize</key>
                <string>{134,152}</string>
                <key>textureRect</key>
                <string>{{155,755},{134,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,600}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{900,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,66}</string>
                <key>spriteSourceSize</key>
                <string>{290,70}</string>
                <key>textureRect</key>
                <string>{{292,603},{290,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,70}</string>
                <key>spriteSourceSize</key>
                <string>{165,70}</string>
                <key>textureRect</key>
                <string>{{584,603},{165,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,70}</string>
                <key>spriteSourceSize</key>
                <string>{166,70}</string>
                <key>textureRect</key>
                <string>{{292,671},{166,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,70}</string>
                <key>spriteSourceSize</key>
                <string>{165,70}</string>
                <key>textureRect</key>
                <string>{{309,743},{165,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,70}</string>
                <key>spriteSourceSize</key>
                <string>{167,70}</string>
                <key>textureRect</key>
                <string>{{903,585},{167,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>select30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,70}</string>
                <key>spriteSourceSize</key>
                <string>{162,70}</string>
                <key>textureRect</key>
                <string>{{566,675},{162,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,70}</string>
                <key>spriteSourceSize</key>
                <string>{163,70}</string>
                <key>textureRect</key>
                <string>{{309,815},{163,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,70}</string>
                <key>spriteSourceSize</key>
                <string>{149,70}</string>
                <key>textureRect</key>
                <string>{{751,603},{149,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,70}</string>
                <key>spriteSourceSize</key>
                <string>{148,70}</string>
                <key>textureRect</key>
                <string>{{730,675},{148,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,88}</string>
                <key>spriteSourceSize</key>
                <string>{128,88}</string>
                <key>textureRect</key>
                <string>{{476,671},{128,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,85}</string>
                <key>spriteSourceSize</key>
                <string>{126,85}</string>
                <key>textureRect</key>
                <string>{{566,747},{126,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{974,890}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a75639986c95fa9b35a00caa6afb1c3e:c5857bd731fb3fcf90fa6d045323b327:2f7983b4c14cf09938dfa44df99367f8$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
