<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FlagZombie_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{110,138}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,3},{110,138}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{106,140}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,2},{106,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombie_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,142}}</string>
                <key>offset</key>
                <string>{23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{104,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombie_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{108,140}}</string>
                <key>offset</key>
                <string>{26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,1},{108,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,142},{100,140}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,2},{100,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombie_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{98,142}}</string>
                <key>offset</key>
                <string>{21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{98,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombie_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,290},{96,142}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{96,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombie_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,144},{94,140}}</string>
                <key>offset</key>
                <string>{22,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,1},{94,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombie_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,284},{94,140}}</string>
                <key>offset</key>
                <string>{25,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,1},{94,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombie_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,284},{96,140}}</string>
                <key>offset</key>
                <string>{24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,1},{96,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombie_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,146},{94,142}}</string>
                <key>offset</key>
                <string>{21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombie_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{96,142}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{96,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FlagZombie.png</string>
            <key>size</key>
            <string>{488,434}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d118538b4fbd3850ba7e15666f9132e$</string>
            <key>textureFileName</key>
            <string>FlagZombie.png</string>
        </dict>
    </dict>
</plist>
