<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Level1.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{165,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,70}}</string>
                <key>sourceSize</key>
                <string>{165,70}</string>
            </dict>
            <key>Level1.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{166,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,70}}</string>
                <key>sourceSize</key>
                <string>{166,70}</string>
            </dict>
            <key>Level2.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{149,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,70}}</string>
                <key>sourceSize</key>
                <string>{149,70}</string>
            </dict>
            <key>Level2.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,896},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,70}}</string>
                <key>sourceSize</key>
                <string>{148,70}</string>
            </dict>
            <key>Menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{900,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,600}}</string>
                <key>sourceSize</key>
                <string>{900,600}</string>
            </dict>
            <key>bangin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,968},{162,42}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{162,42}}</string>
                <key>sourceSize</key>
                <string>{170,60}</string>
            </dict>
            <key>bangin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{162,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{162,42}}</string>
                <key>sourceSize</key>
                <string>{170,60}</string>
            </dict>
            <key>exit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,752},{162,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{162,40}}</string>
                <key>sourceSize</key>
                <string>{170,60}</string>
            </dict>
            <key>exit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,824},{162,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{162,40}}</string>
                <key>sourceSize</key>
                <string>{170,60}</string>
            </dict>
            <key>out1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{288,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{288,72}}</string>
                <key>sourceSize</key>
                <string>{300,82}</string>
            </dict>
            <key>out2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{288,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{288,72}}</string>
                <key>sourceSize</key>
                <string>{300,82}</string>
            </dict>
            <key>stop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{104,34}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{104,34}}</string>
                <key>sourceSize</key>
                <string>{170,60}</string>
            </dict>
            <key>stop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,38},{102,34}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{102,34}}</string>
                <key>sourceSize</key>
                <string>{170,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Menu.png</string>
            <key>size</key>
            <string>{1010,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d7533b0870bef67b32d18ce5ddfeda7$</string>
            <key>textureFileName</key>
            <string>Menu.png</string>
        </dict>
    </dict>
</plist>
