<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FlagZombieLostHeadAttack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,104},{102,140}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,3},{102,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHeadAttack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{102,142}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,1},{102,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHeadAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{98,142}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,1},{98,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHeadAttack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{100,142}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,1},{100,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHeadAttack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{98,144}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{98,144}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHeadAttack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{96,144}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHeadAttack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,144}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{98,144}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHeadAttack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,294},{102,142}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,1},{102,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHeadAttack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,200},{100,140}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,3},{100,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHeadAttack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,146},{100,142}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,1},{100,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHeadAttack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,102},{96,142}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,1},{96,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FlagZombieLostHeadAttack.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b28587f0759c6dc50760814df18751b4$</string>
            <key>textureFileName</key>
            <string>FlagZombieLostHeadAttack.png</string>
        </dict>
    </dict>
</plist>
