<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZombieAttack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,122},{86,118}}</string>
                <key>offset</key>
                <string>{24,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,25},{86,118}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{88,118}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,25},{88,118}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,126},{82,120}}</string>
                <key>offset</key>
                <string>{26,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,24},{82,120}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,372},{84,118}}</string>
                <key>offset</key>
                <string>{25,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,25},{84,118}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,374},{86,118}}</string>
                <key>offset</key>
                <string>{24,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,25},{86,118}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,248},{88,116}}</string>
                <key>offset</key>
                <string>{23,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,27},{88,116}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{88,120}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,24},{88,120}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,126},{84,122}}</string>
                <key>offset</key>
                <string>{25,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,22},{84,122}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,250},{80,120}}</string>
                <key>offset</key>
                <string>{27,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,24},{80,120}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,122},{78,118}}</string>
                <key>offset</key>
                <string>{28,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,25},{78,118}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,360},{84,116}}</string>
                <key>offset</key>
                <string>{25,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,27},{84,116}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{88,118}}</string>
                <key>offset</key>
                <string>{23,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,26},{88,118}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{88,120}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,24},{88,120}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{86,122}}</string>
                <key>offset</key>
                <string>{24,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,22},{86,122}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{88,120}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,24},{88,120}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,250},{82,122}}</string>
                <key>offset</key>
                <string>{26,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,22},{82,122}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,124},{80,120}}</string>
                <key>offset</key>
                <string>{27,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,24},{80,120}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,366},{82,116}}</string>
                <key>offset</key>
                <string>{26,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,27},{82,116}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,242},{84,116}}</string>
                <key>offset</key>
                <string>{25,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,27},{84,116}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{88,120}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,24},{88,120}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,120}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,24},{88,120}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZombieAttack.png</string>
            <key>size</key>
            <string>{512,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79fff8ff560a0ab90c2f40a81038a14a$</string>
            <key>textureFileName</key>
            <string>ZombieAttack.png</string>
        </dict>
    </dict>
</plist>
