<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZombieLostHeadAttack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{80,92}}</string>
                <key>offset</key>
                <string>{27,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,52},{80,92}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHeadAttack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,96},{84,92}}</string>
                <key>offset</key>
                <string>{24,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,52},{84,92}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHeadAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,104}}</string>
                <key>offset</key>
                <string>{27,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,40},{78,104}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHeadAttack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,98},{90,92}}</string>
                <key>offset</key>
                <string>{21,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,52},{90,92}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHeadAttack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{84,94}}</string>
                <key>offset</key>
                <string>{24,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,50},{84,94}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHeadAttack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,206},{82,94}}</string>
                <key>offset</key>
                <string>{25,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,50},{82,94}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHeadAttack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,192},{86,92}}</string>
                <key>offset</key>
                <string>{24,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,52},{86,92}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHeadAttack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,386},{88,92}}</string>
                <key>offset</key>
                <string>{23,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,52},{88,92}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHeadAttack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{88,92}}</string>
                <key>offset</key>
                <string>{22,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,52},{88,92}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHeadAttack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,290},{86,92}}</string>
                <key>offset</key>
                <string>{23,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,52},{86,92}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHeadAttack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,304},{82,94}}</string>
                <key>offset</key>
                <string>{25,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,50},{82,94}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{52,92}}</string>
                <key>offset</key>
                <string>{21,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,52},{52,92}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{54,96}}</string>
                <key>offset</key>
                <string>{27,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,48},{54,96}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,398},{58,94}}</string>
                <key>offset</key>
                <string>{20,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,50},{58,94}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,302},{60,94}}</string>
                <key>offset</key>
                <string>{21,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,50},{60,94}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{64,96}}</string>
                <key>offset</key>
                <string>{21,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,48},{64,96}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{66,94}}</string>
                <key>offset</key>
                <string>{25,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,50},{66,94}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,384},{62,92}}</string>
                <key>offset</key>
                <string>{28,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,52},{62,92}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,286},{60,92}}</string>
                <key>offset</key>
                <string>{28,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,52},{60,92}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,96},{58,92}}</string>
                <key>offset</key>
                <string>{24,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,52},{58,92}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,194},{56,94}}</string>
                <key>offset</key>
                <string>{21,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,50},{56,94}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,194},{58,94}}</string>
                <key>offset</key>
                <string>{30,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,49},{58,94}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,400},{64,94}}</string>
                <key>offset</key>
                <string>{30,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,49},{64,94}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{72,94}}</string>
                <key>offset</key>
                <string>{31,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,49},{72,94}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,108},{72,94}}</string>
                <key>offset</key>
                <string>{33,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,49},{72,94}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,98},{68,94}}</string>
                <key>offset</key>
                <string>{33,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,49},{68,94}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,190},{58,92}}</string>
                <key>offset</key>
                <string>{32,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,51},{58,92}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,290},{56,94}}</string>
                <key>offset</key>
                <string>{29,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,50},{56,94}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{60,96}}</string>
                <key>offset</key>
                <string>{22,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,48},{60,96}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZombieLostHead.png</string>
            <key>size</key>
            <string>{450,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:affc320747b9a2c669abf46e16166fce$</string>
            <key>textureFileName</key>
            <string>ZombieLostHead.png</string>
        </dict>
    </dict>
</plist>
